
 * {
    padding: 0;
    margin: 0;
    border: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
 }

 html , body {
   height: 100%;
   width: 100%;
 }

 body {
    background-color: black;
 }

 section#section-000 {
      display: flex;
      position: relative;
      height: 700px;
      width: 100%;
      justify-content: center;
   }
   
   figure#figure-000 {
      background-image: url(../Imagens/img-000.jpg);
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center center;
      background-attachment: scroll;
      z-index: 1;
      height: 100%;
      width: 100%;
   }
   
   figure#figure-001 {
      background-image: url(../Imagens/netflix-logo-001.png);
      background-repeat: no-repeat;
      background-position: center center;
      background-size: 160px;
      width: 150px;
      height: 100px;
      position: absolute;  
      top: -5px;
      left: 150px;
      z-index: 3;
   }
   
   select#idioma {
   position: absolute;
   right: 250px;
   top: 25px;
   appearance: none; /* Remove a aparência padrão do select em diferentes navegadores */ 
   -webkit-appearance: none; /* Para navegadores WebKit como Safari e Chrome */ 
   -moz-appearance: none; /* Para navegadores Mozilla como Firefox */ 
   border: 1px solid #505050; 
   background-color: #0f0f10cc; 
   color: #cecece; 
   border-radius: 4px; 
   width: 140px; 
   height: 32px; 
   text-align: center; 
   font-weight: normal; 
   font-size: 14px;
   background-image: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 10 6"%3E%3Cpath fill="white" d="M0 0l5 6 5-6z"/%3E%3C/svg%3E'); 
   background-size: 7px; 
   background-position: right 15px top 55%; 
   background-repeat: no-repeat; 
   z-index: 4;
   }

   select#idioma:focus {
      outline: 2px solid white;
   }

   option#opções-idioma {
      background-color: white;
      color: black;
   }
   
   input#entrar {
      position: absolute;
      top: 25px;
      right: 170px;
      z-index: 5;
      background-color: #E50814;
      color: white;
      border-radius: 4px;
      height: 32px;
      width: 70px;
      font-weight: normal;
      font-size: 14px;
      transition-duration: 0.5s;
   }

   input#entrar:hover {
      cursor: pointer;
      background-color: #C21B17;
      transition-duration: 0.5s;
   }

   span#sombra-000 {
      height: 100%;
      width: 100%;
      position: absolute;
      z-index: 2;
      background-color: rgba(0, 0, 0, 0.623);
      box-shadow: inset 0px 0px 40px 30px rgba(0, 0, 0, 0.671);
   }

   /* configurações dos text */

   #text001 {
      position: absolute;
      top: 170px;
      font-weight: bold;
      color: white;
      text-align: center;
      font-size: 60px;
      z-index: 5;
   }

   #text002 {
      color: white;
      top: 400px;
      position: absolute;
      z-index: 6;
      font-size: 21px;
   }

   #text003 {
      position: absolute;
      top: 460px;
      color: white;
      z-index: 7;
   }

   /* fim text´s da section primaria */

   div#caixas-de-contatos {
      position: absolute;
      z-index: 8;
      bottom: 145px;
   }

   #caixa-email {
      width: 400px;
      height: 55px;
      border-radius: 4px;
      border: 1px solid #505050;
      background-color: #0f0f10cc;
      font-weight: normal;
      font-size: 15px;
      padding-left: 15px;
   }

   #caixa-vamosla {
      appearance: none; /* Remove a aparência padrão do select em diferentes navegadores */ 
      -webkit-appearance: none; /* Para navegadores WebKit como Safari e Chrome */ 
      -moz-appearance: none; /* Para navegadores Mozilla como Firefox */ 
      width: 180px;
      height: 55px;
      border-radius: 4px;
      background-color: #E50814;
      color: white;
      font-size: 23px;
      transition-duration: 0.5s;
   }

   #caixa-vamosla:hover {
      cursor: pointer;
      background-color: #C21B17; 
      transition-duration: 0.5s;
   }